body {
  background: #120E43;
  font-size: 18px;
}
.logo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.App-title {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.container {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.input-text {
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.add-btn {
  background: #383CC1;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  margin-left: 20px;

}

.btn {
  background: #E21717;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  margin-left: 20px;
}

.list ul{
  list-style-type: none;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
}
.list ul li{
  background: #ffffff;
  color: #000;
  font-size: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: left;
}
